@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@200;500;800&display=swap');

/* MAIN COLOURS */

:root {
    --background: #fff;
    --main-accent: #0E2B37;
    --secondary-accent: #DB231B;
    --highlight: #9F6900;
    --heading-primary: #027691;
    --heading-secondary: #4F6D7A;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* Basic Elements */

html {
    height: 100%;
    overflow-x: hidden;
    /* Over-riden for fixed header */
}

main {
    max-width: 100vw;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.4s ease-in-out;
}

a:hover {
    text-decoration: underline;
}

i {
    color: #fff;
}

/* Fonts */
p,
span,
label,
aside,
summary {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
}

details {
    width: 95%;
}

summary {
    cursor: pointer;
}

h1,
h2,
h3,
strong {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

footer h5,
footer h6 {
    color: #fff;
}

li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    list-style: none;
}

ol li {
    list-style: circle;
    color: #fff;
}

hr {
    color: #fff;
    width: 100%;
    outline: none;
    border: 1px solid white;
    margin: 5px 0;
}

video {
    width: 100%;
    max-width: 100%;
    height: 100%;
}

/* Utility/Generic */

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.section-header {
    display: grid;
    place-items: center;
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--heading-secondary);
}

/* HEADER */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    position: fixed;
    width: 100vw;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--main-accent);
    color: var(--highlight);
    z-index: 500;
}

.logo img {
    min-height: 60px;
    min-width: 60px;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0 20px;
}

.nav-links a {
    padding: 0 20px;
}

/* Hero */

#hero {
    display: flex;
    align-content: center;
    justify-content: center;
}

.hero-headline {
    position: absolute;
    top: 10%;
    width: 75%;
    height: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--heading-secondary);
    z-index: 5;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-headline h1 {
    font-size: 2.2rem;
}

.hero-headline p {
    color: var(--secondary-accent);
    font-size: 1.3rem;
    font-weight: 700;
}

/* Home Blurb */

#about-blurb {
    background-color: var(--secondary-accent);
    color: #fff;
}

#about-blurb h2 {
    color: #fff;
}


.about-rte {
    max-width: 73%;
    margin: 0 auto;
    padding: 20px;
}

.about-rte h2 {
    color: var(--heading-secondary);
}

.animation-wrapper {
    display: flex;
    padding: 12px;
    justify-content: center;
    margin-top: 20px;
}

.video-wrapper {
    display: flex;
    padding: 12px;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;

}



/* Home Features Section */

#features {
    margin: 30px auto;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.feature-card {
    background-color: var(--secondary-accent);
    color: var(--background);
    min-height: 250px;
    width: 35%;
    text-align: center;
}


.feature-card-rte {
    background-color: var(--secondary-accent);
    height: 100%;
    padding: 20px;
}

.feature-card h2 {
    font-size: 2.2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff
}


/* Gallery */

.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    position: relative;
    transition: all .5s ease-in;
    margin-bottom: 40px;
}

.gallery-card {
    position: relative;
    transition: opacity .5s ease-in;
    width: 30%;
}

.gallery-card img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: visible;
    transition: .5s ease;
    color: #fff;
    text-align: center;
}

.overlay-text {
    padding: 0 20px;
}

.overlay-text li {
    list-style: inside;
}

.gallery-card:nth-child(odd) .gallery-overlay {
    background: var(--main-accent);
}

.gallery-card:nth-child(even) .gallery-overlay {
    background: var(--secondary-accent);
}

.gallery-card:hover .gallery-overlay {
    opacity: 1;
}

/* About Page */

.banner {
    height: 150px;
    color: #fff;
    width: 100vw;
    position: relative;
    background-color: var(--highlight);
}


.headline {
    position: absolute;
    top: 80px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#company-details,
#pricing-details {
    background-color: var(--secondary-accent);
}

.details-blurb,
.pricing-blurb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    max-width: 75%;
    margin: 0 auto;
    padding: 30px 0;

}

.details-blurb img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}

/* Process Section */

#process {
    background-color: var(--heading-primary);
}

#process-flow {
    color: #fff;
    display: flex;
    margin: 0 10vw;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
    align-items: flex-start;
}

.process-step {
    flex: 0 0 25%;
    width: 25%;
    text-align: center;
}

/* Case Studies */

#case-studies {
    min-height: 300px;
    color: var(--heading-secondary);
}

.case-studies-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(465px, 1fr));
    /* TIP FROM: https://stackoverflow.com/questions/43662552/getting-columns-to-wrap-in-css-grid */
    padding: 0 3vw;
    grid-gap: 0 20px;
}


.case-study {
    margin: 20px 0;
    padding: 10px;
    border: solid 2px var(--heading-primary);
}

#case-studies h2 {
    text-align: center;
}


.case-study-text>img {
    height: 80px;
    width: 90px;
    float: left;
    margin: 0 15px 5px 0;

}

.case-study-text p {
    color: var(--heading-secondary);
}

/* Features Page */

.container--tight {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.features-wrapper,
.pricing-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    justify-content: space-between;
}

.technical-card {
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: var(--secondary-accent);
    color: #fff;
    padding-bottom: 15px;
    text-align: center;
}

.technical-card img {
    margin-bottom: 15px;
}

.tech-card-text,
.pricing-card-text {
    max-width: 80%;
}

.pricing-est {
    font-weight: 700;
    padding: 15px;
    font-size: 1.2rem;
    color: #fff;
    margin-left: auto;
}

#pricing-cta {
    height: 10rem;
    background-color: var(--heading-primary);
    color: #fff;
}

.container--slim {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.container--slim a {
    color: #fff;
}

.cta-wrapper {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    flex-direction: column;
}

.cta-wrapper i:hover {
    transform: rotate(360deg);
    transition: all 0.5s;
}

/* Pricing Page */

.pricing-blurb h3 {
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tg td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-cell {
    text-align: center;
    vertical-align: top
}

.pricing-wrapper {
    gap: 20px;
}

.pricing-card {
    display: flex;
    width: 49%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    background-color: var(--main-accent);
    padding: 10px;
}

.pricing-card h3,
.pricing-card-text {
    color: #fff;
    margin-bottom: 1.2rem;
    text-align: center;
}

/* Footer */
footer {
    background-color: var(--secondary-accent);
    width: 100vw;
    display: flex;
    align-content: space-between;
    align-items: center;
}


.footer-left {
    width: 33%;
    padding: 20px 0 20px 30px;
}

.footer-right {
    padding: 20px 30px 20px 0;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;

}

.footer-right {
    padding: 20px 30px 20px 0;
}

.subscription-form {
    display: flex;
    flex-direction: column;
}

.to-top {
    background-color: var(--main-accent);
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: 1px solid #fff;
}

.to-top:hover {
    background-color: var(--heading-secondary);
}

.to-top a:hover {
    color: #fff;
}

footer label {
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
}

footer input {
    width: 60%;
    min-width: 30%;
    height: 30px;
    outline: none;
    border: none;
}

#sub-form::placeholder {
    text-align: center;
}

.btn--submit {
    outline: none;
    border: none;
    padding: 8px 20px;
    background-color: var(--highlight);
    color: #fff;
    transition: all 0.8s ease-in-out;
}

.btn--submit:hover {
    background-color: var(--heading-primary);
}

.sm-icon-wrapper {
    display: flex;
    margin-top: 10px;
    gap: 12px;

}

.form-submitted-wrapper {
    background-color: var(--heading-primary);
    color: #fff;
    padding-top: 65px;
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Contact */

#contact-form {
    min-height: 300px;
    margin: 20px auto;
    text-align: center;
}

.req-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.req-form label,
.req-form input {
    width: 50%;
    text-align: center;
}

.req-form input {
    height: 40px;
    margin-bottom: 25px;
    outline: 0;
    border: 1px solid var(--secondary-accent);
    font-size: 1.6rem;

}

.btn--contact {
    width: 50%;
    padding: 15px;
    margin: 0 auto;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}



/* Responsive */
@media screen and (min-width: 768px) {
    .main-nav--mob {
        display: none;
    }
}


@media screen and (max-width: 1200px) {
    .pricing-card {
        width: 100%;
    }

    .technical-card {
        width: 48%;
    }

    .gallery-card {
        width: 40%;
    }
}

@media screen and (max-width:899px) {
    #process-flow {
        flex-direction: column;
        align-items: center;
    }

    .process-step {
        flex: 0 0 100%;
        width: 100%;
    }

    .gallery-card {
        width: 80%;
    }

    .feature-card {
        width: 100%;
    }
}


@media screen and (max-width:767px) {


    #header {
        padding: 24px 2vw;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .main-nav {
        display: none;
    }

    .main-nav--mob {
        position: absolute;
        top: 64px;
        background-color: var(--main-accent);
        width: 100%;
        padding: 20px 0;
    }

    summary.nav-flex--mob::marker {
        content: 'MENU';
    }

    .nav-links--mob {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-bottom: 20px;
        text-align: left;
        margin-left: 20px;
        transition: all .3s ease-in;
    }

    .nav-links--mob li {
        display: flex;
    }

    .nav-links--mob a {
        margin-left: 20px;
        width: 90%;
        display: block;
    }


    .nav-links--mob i {
        width: 30px;
    }

    i {
        font-size: 1.5rem;
    }

    .nav-links {
        justify-content: center;
    }

    .nav-links li {
        display: flex;
        flex-direction: column;
    }

    #hero {
        height: 400px;
    }

    #hero-hero--thin {
        height: 100%;
        padding-top: 60px;
    }

    .hero-headline {
        top: 165px;
        width: 100%;

    }



    .hero-headline h1 {
        font-size: 1.8rem;
    }


    .about-rte {
        max-width: 100%;
    }

    .feature-card {
        width: 100%;
    }

    .gallery-wrapper {
        grid-template-columns: 1fr;
        grid-auto-rows: unset;
    }

    .gallery-overlay {
        opacity: 0.85;
    }

    /*About Page */
    .details-blurb,
    .pricing-blurb {
        max-width: 90%;
    }

    .case-studies-wrapper {
        grid-template-columns: 1fr;
    }

    /* Features Page */

    .technical-card {
        width: 100%;
    }

    .technical-card img {
        height: 100%;
    }

    #pricing-cta {
        height: 13rem;
    }

    .container--slim {
        flex-direction: column;
        padding-top: 0;
        gap: 15px;
        padding-top: 20px;
    }

    /*Pricing page */

    .features-wrapper,
    .pricing-wrapper {
        margin: 0;
    }

    /* Footer */

    .to-top {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    .footer-left,
    .footer-right {
        width: 100%;
        padding: 20px 10%;
    }

    footer input {
        width: 100%;
    }

    .btn--submit {
        width: 100%;
        margin: 20px auto;
    }
}

@media screen and (max-width: 550px) {
    .technical-card {
        width: 100%;
    }
}