@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@200;500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; for debugging*/
}

/* Basic Elements */

html {
    height: 100%;
    overflow-x: hidden;
    /* Over-riden for fixed header */
}

main {
    max-width: 100vw;
}

img {
    width: 100%;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: var(--highlight);
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: #DB504A;
}

i {
    color: #fff;
}

/* Fonts */
p,
span,
label,
aside {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

h4,
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

footer h3,
footer h4 {
    color: #fff;
}

li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    list-style: none;
}

hr {
    color: #fff;
    width: 100%;
    outline: none;
    border: 1px solid white;
    margin: 5px 0;
}

/* MAIN COLOURS */

:root {
    --background: #fff;
    --main-accent: #084C61;
    --secondary-accent: #DB504A;
    --highlight: #E3B505;
    --heading-primary: #07A0C3;
    --heading-secondary: #4F6D7A;
}

/* Utility/Generic */

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.section-header {
    display: grid;
    place-items: center;
    padding: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--heading-secondary);
}

/* HEADER */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    position: fixed;
    width: 100vw;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--main-accent);
    color: var(--highlight);
    z-index: 500;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0 30px;
}

.nav-links a {
    padding: 0 20px;
}

/* Hero */

#hero {
    display: flex;
    align-content: center;
    justify-content: center;
}

.hero-headline {
    position: absolute;
    top: 15%;
    width: 33%;
    height: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--heading-secondary);
    z-index: 5;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-headline h1 {
    font-size: 2.2rem;
}



/* Home Blurb */

#about-blurb {
    background-color: var(--secondary-accent);
    color: #fff;
}

#about-blurb h2 {
    color: #fff;
}


.about-rte {
    max-width: 73%;
    margin: 0 auto;
    padding: 20px;
}

.about-rte h2 {
    color: var(--heading-secondary);
}

.video-wrapper {
    display: flex;
    padding: 12px;
    justify-content: center;
    margin-top: 20px;
    /* Trick From : https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Home Features Section */

#features {
    margin: 30px auto;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.feature-card {
    background-color: var(--secondary-accent);
    color: var(--background);
    min-height: 250px;
    width: 35%;
    text-align: center;
}

.feature-card-rte {
    background-color: var(--secondary-accent);
    height: 100%;
}

.feature-card h2 {
    font-size: 2.2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff
}


/* Gallery */

.gallery-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 245px;
    position: relative;
    transition: all .5s ease-in;
    margin-bottom: 40px;
}

.gallery-card {
    position: relative;
    transition: all .5s ease-in;
}

.gallery-card img {
    display: block;
    width: 100%;
    height: auto;
}

.gallery-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    color: #fff;
    text-align: center;
}

.gallery-card:nth-child(odd) .gallery-overlay {
    background: var(--main-accent);
}

.gallery-card:nth-child(even) .gallery-overlay {
    background: var(--secondary-accent);
}

.gallery-card:hover .gallery-overlay {
    opacity: 1;
}

/* About Page */

.about-process,
.features {
    height: 150px;
    color: #fff;
    width: 100vw;
    position: relative;
    background-color: var(--highlight);
}

.about-headline,
.features-headline {
    position: absolute;
    top: 80px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#company-details,
#pricing-details {
    background-color: var(--secondary-accent);
}

.details-blurb,
.pricing-blurb {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #fff;
    max-width: 50%;
    margin: 0 auto;
    padding: 30px 0;

}

.details-blurb img {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 20px;
}

/* Process Section */

#process {
    background-color: var(--heading-primary);
}

#process-flow {
    color: #fff;
    display: flex;
    margin: 0 10vw;
    gap: 20px;
    justify-content: center;
    padding: 20px 0;
    align-items: flex-start;
}

.process-step {
    flex: 0 0 25%;
    width: 25%;
    text-align: center;
}

/* Case Studies */

#case-studies {
    min-height: 300px;
    color: var(--heading-secondary);
}

.case-studies-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(465px, 1fr));
    /* TIP FROM: https://stackoverflow.com/questions/43662552/getting-columns-to-wrap-in-css-grid */
    padding: 0 3vw;
    grid-gap: 0 20px;
}


.case-study {
    margin: 20px 0;
    padding: 10px;
    border: solid 2px var(--heading-primary);
}

#case-studies h2 {
    text-align: center;
}


.case-study-text>img {
    height: 80px;
    width: 90px;
    float: left;
    margin: 0 15px 5px 0;

}

/* Features Page */

.container--tight {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.features-wrapper, .pricing-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0;
    justify-content: space-between;
}

.technical-card {
    display: flex;
    width: 33%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.technical-card img {
    margin-bottom: 15px;
}

.tech-card-text, .pricing-card-text {
    max-width: 80%;
}

#pricing-cta {
    height: 10rem;
    background-color: var(--heading-primary);
    color: #fff;
}

.container--slim {
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.container--slim a {
    color: #fff;
}

.cta-wrapper {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    flex-direction: column;
}

.cta-wrapper i:hover {
    transform: rotate(360deg);
    transition: all 0.5s;
}

/* Pricing Page */

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.tg td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-cell {
    text-align: center;
    vertical-align: top
}

.pricing-card {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

/* Footer */
footer {
    background-color: var(--secondary-accent);
    width: 100vw;
    display: flex;
    align-content: space-between;
    align-items: center;
}

footer a:hover {
    color: #fff;
}

.footer-left,
.footer-right {
    width: 50%;
}

.footer-left {
    padding: 20px 30px;
}

.footer-right {
    padding: 20px 30px 20px 0;
}

.to-top {
    background-color: var(--main-accent);
    padding: 10px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.to-top:hover {
    background-color: var(--heading-secondary);
}

.to-top a:hover {
    color: #fff;
}

footer label {
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
}

footer input {
    width: 30%;
    height: 30px;
    outline: none;
    border: none;
}

.btn--submit {
    outline: none;
    border: none;
    padding: 7px 20px;
    background-color: var(--highlight);
    color: #fff;
    margin-left: 10px;
}

.btn--submit:hover {
    opacity: 0.8;
}

.sm-icon-wrapper {
    display: flex;
    margin-top: 10px;
    gap: 12px;

}