@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@200;500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; for debugging*/
}

/* Basic Elements */

html {
    height: 100%;
    overflow-x: hidden;
    /* Over-riden for fixed header */
}

main {
    max-width: 100vw;
}

img {
    width: 100%;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: var(--highlight);
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: #DB504A;

}

/* Fonts */ 
p,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
}

h1,
h2,
li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* MAIN COLOURS */

:root {
    --background: #fff;
    --main-accent: #084C61;
    --secondary-accent: #DB504A;
    --highlight: #E3B505;
    --heading-primary: #07A0C3;
    --heading-secondary: #4F6D7A;
}

/* Utility/Generic */

.container {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
}

.section-header {
    display: grid;
    place-items: center;
    padding: 20px 0;
}

/* HEADER */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    position: fixed;
    width: 100vw;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--main-accent);
    color: var(--highlight);
    z-index: 500;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0 30px;
}

.nav-links a {
    padding: 0 20px;
}

/* Hero */

#hero {
    display: flex;
    align-content: center;
    justify-content: center;
}

.hero-headline {
    position: absolute;
    top: 15%;
    width: 33%;
    height: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 3rem;
    color: var(--heading-secondary);
    z-index: 5;
}

/* Home Features Section */

#features {
    margin: 30px 0;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.feature-card {
    background: rgb(253, 168, 121);
    background: linear-gradient(0deg, rgba(253, 168, 121, 1) 0%, rgba(252, 172, 171, 1) 40%, rgba(254, 169, 208, 1) 100%);
    color: var(--heading-secondary);
    min-height: 250px;
    width: 35%;
    text-align: center;
}

.feature-card-rte {
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
}

.feature-card h2 {
    font-size: 2.2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--heading-primary);
}

/* Footer */
footer {
    background-color: var(--secondary-accent);
    width: 100vw;
}