@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@200;500;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; */
}

html {
    height: 2500px;
}

main {
    max-width: 100vw;
}

img {
    width: 100%;
    max-width: 100vw;
}

a {
    text-decoration: none;
    color: var(--highlight);
    transition: all 0.4s ease-in-out;
}

a:hover {
    color: #DB504A;

}

p,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
}

h1,
h2,
li {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/* MAIN COLOURS */

:root {
    --background: #fff;
    --main-accent: #084C61;
    --secondary-accent: #DB504A;
    --highlight: #E3B505;
    --heading-primary: #07A0C3;
    --heading-secondary: #4F6D7A;
}

/* HEADER */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    position: fixed;
    width: 100vw;
    padding: 20px;
    margin: 0 auto;
    background-color: var(--main-accent);
    color: var(--highlight);
    z-index: 500;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0 30px;
}

.nav-links a {
    padding: 0 20px;
}

/* Hero */

#hero {
    display: flex;
    align-content: center;
    justify-content: center;
}

.hero-headline {
    position: absolute;
    top: 15%;
    width: 33%;
    height: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    font-size: 3rem;
    color: var(--heading-secondary);
}